@model dynamic

@{
    ViewBag.Title = "Admin Panel";
    Layout = "_AdminLayout";
}

<div class="board container-md p-4">
    <div class="board-head">
        <h2>Dashboard</h2>
        <div>
            <h7>alo</h7>
        </div>
    </div>
</div>