@model dynamic

<div class="container-md d-flex mt-4 gap-1">
    <div class="p-0 overflow-hidden flex-md-shrink-0" style="height: auto; width: 870px">
        <div class="container-fluid h-100 p-0 d-flex slider" style="transform: translateX(0px); transition: all 0.3s ease 0s;" id="slider">
            <div class="slide w-100 h-100 flex-shrink-0">
                <img class="w-100 h-100" style="object-fit: cover" src="/imgs/vn-50009109-9f7257e7e72f64d37e901191bbc93a1a_xxhdpi.jpg" alt="">
            </div>
            <div class="slide w-100 h-100 flex-shrink-0">
                <img class="w-100 h-100" style="object-fit: cover" src="/imgs/vn-50009109-c32c3818f495049bfdaf7d2e60673943_xxhdpi.jpg" alt="">
            </div>
            <div class="slide w-100 h-100 flex-shrink-0">
                <img class="w-100 h-100" style="object-fit: cover" src="/imgs/vn-50009109-f1a90606a58d4f4e9bd3a38337176257_xxhdpi.jpg" alt="">
            </div>
            <div class="slide w-100 h-100 flex-shrink-0">
                <img class="w-100 h-100" style="object-fit: cover" src="/imgs/vn-50009109-9f7257e7e72f64d37e901191bbc93a1a_xxhdpi.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="w-auto">
        <div class="d-flex flex-column h-100 gap-1">
            <img class="w-100 h-100" style="object-fit: cover" src="imgs/sm-50009109-0876b670ca2ac0d99e7fcdcccad64634_xhdpi.jpg" alt="">
            <img class="w-100 h-100" style="object-fit: cover" src="imgs/sm-50009109-d7a70ac9fc7ddbf5496a335e2c046d89_xhdpi.png" alt="">
        </div>
    </div>
</div>