@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="~/imgs/shopping-brand.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <title>Lỗi 404 - Aetherix</title>
</head>
<style>
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   .error-bg {
        background-image: url("./imgs/404-bg.png");
       background-size: contain;
       background-position: center;
       background-repeat: no-repeat;
       height: 75%;
       width: 80%;
   }
</style>
<body>
    <div class="error-bg"></div>
    <h1>Hãy thử lại sau!</h1>
</body>
</html>