@model IPagedList<BillItem>

@{
    ViewBag.Title = "Aetherix";
    Layout = "_Layout";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/actions/ProfileStyle.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
}

<div class="container mt-4">
    <div class="grid">
        <div class="grid_row content">
            <div class="grid_column-2">
                @{
                    await Html.RenderPartialAsync("Partials/NavMenu");
                }

            </div>
            <div class="grid_column-10">
    
                <div class="donhang-main h-100">
                    @{
                        await Html.RenderPartialAsync("Partials/BillItemPartial", Model);
                    }
                </div>
            </div>
        </div>

    </div>
</div>