@using Microsoft.AspNetCore.Identity
@model IPagedList<BillItem>
@inject UserManager<UserModel> UserManager

@{
    ViewBag.Title = "Aetherix";
    Layout = "_Layout";
    var user = await UserManager.GetUserAsync(User);
}

@section Styles
{
    <link rel="stylesheet" href="~/css/actions/ProfileStyle.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
}

<div class="container">
<div class="grid">
<div class="grid_row content">
<div class="grid_column-2">
    <div class="user">
        <a class="linkprofile" href="#">
            <div class="user-avatar">
                <div class="user-avatar-placehoder">
                    <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="user-avatar-icon">
                        <g>
                            <circle cx="7.5" cy="4.5" fill="none" r="3.8" stroke-miterlimit="10"></circle><path d="m1.5 14.2c0-3.3 2.7-6 6-6s6 2.7 6 6" fill="none" stroke-linecap="round" stroke-miterlimit="10"></path>
                        </g>
                    </svg>

                </div>
                <img class="user-avatar__img" src="@user!.AvtPath" alt="anh nguoi dung">
            </div>
        </a>
        <div clas="user-title">
            <div class="user-name">@user!.UserName</div>

            <a class="suaprofile" href="#">
                <i class="fa-solid fa-pen">
                    <span class="suaprofile-label">Sửa Hồ Sơ</span>
                </i>
            </a>
        </div>
    </div>
    <div class="info">
        <div class="info-1">
            <div class="info-1-head">
                <a class="link-km" href="#">
                    <div class="link-km-img">
                        <img src="https://down-vn.img.susercontent.com/file/sg-11134004-7rbmf-lmyeojqx4sdl3c">
                    </div>
                    <div class="info-1-label">
                        <span class="info-1-label-title">11.11 Shopee Live Thời Trang</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="info-1">
            <div class="info-1-head">
                <a class="link-km" href="#">
                    <div class="link-km-img">
                        <img src="https://down-vn.img.susercontent.com/file/ba61750a46794d8847c3f463c5e71cc4">
                    </div>
                    <div class="info-1-label">
                        <span class="info-1-label-title">Tài Khoản Của Tôi</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="info-1">
            <div class="info-1-head">
                <a class="link-km" href="#">
                    <div class="link-km-img">
                        <img src="https://down-vn.img.susercontent.com/file/f0049e9df4e536bc3e7f140d071e9078">
                    </div>
                    <div class="info-1-label">
                        <span class="info-1-label-title">Đơn Mua</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="info-1">
            <div class="info-1-head">
                <a class="link-km" href="#">
                    <div class="link-km-img">
                        <img src="https://down-vn.img.susercontent.com/file/e10a43b53ec8605f4829da5618e0717c">
                    </div>
                    <div class="info-1-label">
                        <span class="info-1-label-title">Thông Báo</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="info-1">
            <div class="info-1-head">
                <a class="link-km" href="#">
                    <div class="link-km-img">
                        <img src="https://down-vn.img.susercontent.com/file/84feaa363ce325071c0a66d3c9a88748">
                    </div>
                    <div class="info-1-label">
                        <span class="info-1-label-title">Kho Voucher</span>
                    </div>
                </a>
            </div>
            <div class="info-1">
                <div class="info-1-head">
                    <a class="link-km" href="#">
                        <div class="link-km-img">
                            <img src="https://down-vn.img.susercontent.com/file/a0ef4bd8e16e481b4253bd0eb563f784">
                        </div>
                        <div class="info-1-label">
                            <span class="info-1-label-title">Aetherix xu</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="grid_column-10">
    
    @* <div class="search"> *@
    @*     <i class="fa-solid fa-magnifying-glass"></i> *@
    @*     <input class="search-input" placeholder="Bạn có thể tìm kiếm theo tên Shop, ID đơn hàng hoặc Tên Sản phẩm" value=""> *@
    @* </div> *@
    <div class="donhang-main h-100">
      @{
          await Html.RenderPartialAsync("BillItemPartial", Model);
      }
    </div>
</div>
</div>

</div>
</div>