@model ShoppingWEB.Areas.Admin.Models.ImageModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>ImageUrl</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input type="file" accept="*image/png, *.jpg,*.jpeg" asp-for="ImageFile" class="form-control"/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thumnail" class="control-label"></label>
                <select class="form-select" asp-for="Thumnail">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
                <span asp-validation-for="Thumnail" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ProductId" value="@ViewBag.ProductId">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>