<div class="product-list">
@* TODO binding product *@
<div class="product-list__item row">

<div class="product-item p-1 col-6 col-md-3 col-lg-2">
    <div class="bg-white">
        <a class="text-decoration-none" href="">
            <div class="product-item__content">
                <div class="d-flex flex-column">
                    <div class="product-img">
                        <img src="~/uploads/2dde6bcf-a150-407d-8d63-9d08c3f5c5eb_sach.png" alt="">
                    </div>
                    <div class="product-footer mt-3 px-2">
                        <div class="product-item__name">
                            Chuột Cơ Gaming Chuyên Chơi Game Máy Tính PC Laptop M1 PRO 2023 Thế Hệ Mới LED RGB Nhiều Chế Độ, DPI 6 Mức
                        </div>
                        <div class="product-item__analysis-info d-flex justify-content-between mt-2 mb-2">
                            <div class="text-primary-custom product-item__price">
                                128.000đ
                            </div>
                            <div class="product-item__sold opacity-50">
                                Đã bán 194
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="product-item p-1 col-6 col-md-3 col-lg-2">
    <div class="bg-white">
        <a class="text-decoration-none" href="">
            <div class="product-item__content">
                <div class="d-flex flex-column">
                    <div class="product-img">
                        <img src="~/uploads/2dde6bcf-a150-407d-8d63-9d08c3f5c5eb_sach.png" alt="">
                    </div>
                    <div class="product-footer mt-3 px-2">
                        <div class="product-item__name">
                            Chuột Cơ Gaming Chuyên Chơi Game Máy Tính PC Laptop M1 PRO 2023 Thế Hệ Mới LED RGB Nhiều Chế Độ, DPI 6 Mức
                        </div>
                        <div class="product-item__analysis-info d-flex justify-content-between mt-2 mb-2">
                            <div class="text-primary-custom product-item__price">
                                128.000đ
                            </div>
                            <div class="product-item__sold opacity-50">
                                Đã bán 194
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="product-item p-1 col-6 col-md-3 col-lg-2">
    <div class="bg-white">
        <a class="text-decoration-none" href="">
            <div class="product-item__content">
                <div class="d-flex flex-column">
                    <div class="product-img">
                        <img src="~/uploads/2dde6bcf-a150-407d-8d63-9d08c3f5c5eb_sach.png" alt="">
                    </div>
                    <div class="product-footer mt-3 px-2">
                        <div class="product-item__name">
                            Chuột Cơ Gaming Chuyên Chơi Game Máy Tính PC Laptop M1 PRO 2023 Thế Hệ Mới LED RGB Nhiều Chế Độ, DPI 6 Mức
                        </div>
                        <div class="product-item__analysis-info d-flex justify-content-between mt-2 mb-2">
                            <div class="text-primary-custom product-item__price">
                                128.000đ
                            </div>
                            <div class="product-item__sold opacity-50">
                                Đã bán 194
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="product-item p-1 col-6 col-md-3 col-lg-2">
    <div class="bg-white">
        <a class="text-decoration-none" href="">
            <div class="product-item__content">
                <div class="d-flex flex-column">
                    <div class="product-img">
                        <img src="~/uploads/2dde6bcf-a150-407d-8d63-9d08c3f5c5eb_sach.png" alt="">
                    </div>
                    <div class="product-footer mt-3 px-2">
                        <div class="product-item__name">
                            Chuột Cơ Gaming Chuyên Chơi Game Máy Tính PC Laptop M1 PRO 2023 Thế Hệ Mới LED RGB Nhiều Chế Độ, DPI 6 Mức
                        </div>
                        <div class="product-item__analysis-info d-flex justify-content-between mt-2 mb-2">
                            <div class="text-primary-custom product-item__price">
                                128.000đ
                            </div>
                            <div class="product-item__sold opacity-50">
                                Đã bán 194
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="product-item p-1 col-6 col-md-3 col-lg-2">
    <div class="bg-white">
        <a class="text-decoration-none" href="">
            <div class="product-item__content">
                <div class="d-flex flex-column">
                    <div class="product-img">
                        <img src="~/uploads/2dde6bcf-a150-407d-8d63-9d08c3f5c5eb_sach.png" alt="">
                    </div>
                    <div class="product-footer mt-3 px-2">
                        <div class="product-item__name">
                            Chuột Cơ Gaming Chuyên Chơi Game Máy Tính PC Laptop M1 PRO 2023 Thế Hệ Mới LED RGB Nhiều Chế Độ, DPI 6 Mức
                        </div>
                        <div class="product-item__analysis-info d-flex justify-content-between mt-2 mb-2">
                            <div class="text-primary-custom product-item__price">
                                128.000đ
                            </div>
                            <div class="product-item__sold opacity-50">
                                Đã bán 194
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="product-item p-1 col-6 col-md-3 col-lg-2">
    <div class="bg-white">
        <a class="text-decoration-none" href="">
            <div class="product-item__content">
                <div class="d-flex flex-column">
                    <div class="product-img">
                        <img src="~/uploads/2dde6bcf-a150-407d-8d63-9d08c3f5c5eb_sach.png" alt="">
                    </div>
                    <div class="product-footer mt-3 px-2">
                        <div class="product-item__name">
                            Chuột Cơ Gaming Chuyên Chơi Game Máy Tính PC Laptop M1 PRO 2023 Thế Hệ Mới LED RGB Nhiều Chế Độ, DPI 6 Mức
                        </div>
                        <div class="product-item__analysis-info d-flex justify-content-between mt-2 mb-2">
                            <div class="text-primary-custom product-item__price">
                                128.000đ
                            </div>
                            <div class="product-item__sold opacity-50">
                                Đã bán 194
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="product-item p-1 col-6 col-md-3 col-lg-2">
    <div class="bg-white">
        <a class="text-decoration-none" href="">
            <div class="product-item__content">
                <div class="d-flex flex-column">
                    <div class="product-img">
                        <img src="~/uploads/2dde6bcf-a150-407d-8d63-9d08c3f5c5eb_sach.png" alt="">
                    </div>
                    <div class="product-footer mt-3 px-2">
                        <div class="product-item__name">
                            Chuột Cơ Gaming Chuyên Chơi Game Máy Tính PC Laptop M1 PRO 2023 Thế Hệ Mới LED RGB Nhiều Chế Độ, DPI 6 Mức
                        </div>
                        <div class="product-item__analysis-info d-flex justify-content-between mt-2 mb-2">
                            <div class="text-primary-custom product-item__price">
                                128.000đ
                            </div>
                            <div class="product-item__sold opacity-50">
                                Đã bán 194
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="product-item p-1 col-6 col-md-3 col-lg-2">
    <div class="bg-white">
        <a class="text-decoration-none" href="">
            <div class="product-item__content">
                <div class="d-flex flex-column">
                    <div class="product-img">
                        <img src="~/uploads/2dde6bcf-a150-407d-8d63-9d08c3f5c5eb_sach.png" alt="">
                    </div>
                    <div class="product-footer mt-3 px-2">
                        <div class="product-item__name">
                            Chuột Cơ Gaming Chuyên Chơi Game Máy Tính PC Laptop M1 PRO 2023 Thế Hệ Mới LED RGB Nhiều Chế Độ, DPI 6 Mức
                        </div>
                        <div class="product-item__analysis-info d-flex justify-content-between mt-2 mb-2">
                            <div class="text-primary-custom product-item__price">
                                128.000đ
                            </div>
                            <div class="product-item__sold opacity-50">
                                Đã bán 194
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
</div>
</div>