.product-list__item {
  margin-left: -.25rem;
  margin-right: -.25rem;
}

.product-item {


  > div {
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .05);
  }

  .product-item__name {
    font-size: .8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .product-img {
    img {
      width: 100%;
    }
  }
}

.product-list {
  a {
    color: black;
  }
}