@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Category

@{
    ViewBag.Title = "Các Loại Mặt Hàng";
    ViewBag.Page = "Category";
    Layout = "_AdminLayout";

}


<div class="bg-white main-container">
    <div class="d-flex overflow-hidden">
        <div class="item d-flex flex-column flex-grow-1">
            <div class="main-container__header d-flex p-3 w-100  flex-grow-1 justify-content-between px-5">
                <div class="d-flex align-items-center">Chi Tiết</div>
                <div class="d-flex align-items-center gap-3">
                    <a class="btn btn-primary" asp-action="Index">Quay lại</a>
                </div>
            </div>
            <div class="main-container__main p-3">
                <div class="d-flex">
                    <div class="row p-2 flex-grow-1">
                        <div class="col-sm-2 fw-bold">
                            @Html.DisplayNameFor(category => category.CategoryName)
                        </div>
                        <div class="col-sm-10">
                            <input asp-for="CategoryName" class="form-control" readonly/>
                        </div>
                        <div class="col-sm-2 fw-bold mt-2">
                            <label class="form-label">Số lượng sản phẩm</label>
                        </div>
                        <div class="col-sm-10 mt-2">
                            @Html.DisplayFor(category => category.Products.Count)
                        </div>
                    </div>
                    <div class="img-preview">
                        <img src="@Model.ImagePath" width="300px" id="display-img" alt="Ảnh">
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center product-container">
                    <div class="product-list__header fs-3">
                        Danh Sách Sản Phẩm
                    </div>
                    @{
                        await Html.RenderPartialAsync("Partials/ProductList", Model.Products.ToList());
                    }

                </div>
            </div>
        </div>

    </div>

</div>