@using ShoppingWEB.Extension_Method
@model Category

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";

}

<h1>Chi tiết mặt hàng</h1>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            <img loading="lazy" src="@Model.GetWebPath()" height="50px" alt="Image"/>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a>
    <a class="btn btn-primary" asp-action="Index">Quay trở về danh sách</a>

</div>