@model ShoppingWEB.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";

}

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control"/>
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input name="imageFile" type="file" accept=".png, .jpeg, .jpg" class="form-control"/>
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-success mt-2"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary mt-2" asp-action="Index">Quay trở về danh sách</a>

</div>