@inject ShoppingContext Db;
@using ShoppingWEB.Extension_Method
@model List<Product>;

@{
    ViewBag.Title = "Trang chủ";
    var imageList = Db.ImageUrls;

}

@section Styles
{
    <link rel="stylesheet" href="~/css/partials/CategoryStyle.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/partials/ProductListStyle.css" asp-append-version="true"/>
}

<div class="container-md">
    @{
        await Html.RenderPartialAsync("Partial/BannerPartial");
    }

    @{
        await Html.RenderPartialAsync("Partial/CategoryNav");
    }

    <div class="product-section bg-white mt-3">
        <div class="product-section-title text-uppercase p-3 fw-bold opacity-50">
            sản phẩm
        </div>
        <div class="bg-custom-primary mt-1">
            @{ await Html.RenderPartialAsync("Partial/ProductList"); }
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/slider.js"></script>
    <script src="~/js/index.js"></script>
}