@inject ShoppingContext Db;
@using ShoppingWEB.Extension_Method
@model List<Product>;

@{
    ViewBag.Title = "Trang chủ";
    var imageList = Db.ImageUrls;

}

@section Styles
{
    <link rel="stylesheet" href="~/css/partials/CategoryStyle.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/partials/ProductListStyle.css" asp-append-version="true"/>
}

<div class="container-md">
    @{
        await Html.RenderPartialAsync("Partial/BannerPartial");
    }

    @{
        await Html.RenderPartialAsync("Partial/CategoryNav");
    }

    <div class="product-section bg-white mt-3">
        <div class="product-section-title d-flex justify-content-center align-items-center">
            <div class="text-uppercase fs-6 p-3 text-primary-custom">gợi ý hôm nay</div>
        </div>
        <div class="bg-custom-primary">
            @{ await Html.RenderPartialAsync("Partial/ProductList"); }
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/slider.js" asp-append-version="true"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/partials/product_list.js" asp-append-version="true"></script>
}