@{
    ViewBag.Title = "Trang chủ";
}

@model List<Product>;


<div class="container-md">
    @{
        await Html.RenderPartialAsync("Partial/BannerPartial");
    }

    @{
        await Html.RenderPartialAsync("Partial/CategoryNav");
    }

    <div class="product-list py-3 row">
        @foreach (var product in Model)
        {
            <div class="col-6 col-md-4 col-lg-2">
                @product.ProductName
            </div>
        }
    </div>
</div>