<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true">
    <link rel="shortcut icon" href="~/imgs/shopping-brand.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/layouts/adminlayout.css" asp-append-version="true">
    @(await RenderSectionAsync("Styles", false))
    <title>@ViewBag.Title - Aetherix</title>
</head>
<body>
<div class="d-flex">
    <div class="left-side position-relative">

    </div>
    <div class="right-side w-100 flex-shrink-1 flex-grow-0 position-relative">
        <div class="navbar">
            <div class="navbar-brand h-100 p-0">
                <a asp-controller="Home" asp-action="Index" class="h-100 text-center align-items-center d-flex align-items-center text-decoration-none">
                    <img src="~/imgs/shopping-brand.png" height="100%" width="auto" class="text-center" alt="logo-brand">
                    <h2 class="brand-name m-0 pt-2  fw-normal">Aetherix</h2>
                </a>
            </div>
        </div>
        <div class="mt-5">@RenderBody()</div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@(await RenderSectionAsync("Scripts", false))
</body>
</html>