<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/layouts/adminlayout.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true">
    <link rel="shortcut icon" href="~/imgs/shopping-brand.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <title>@ViewBag.Title - Aetherix</title>
</head>
<body>
<header class="container-fluid fixed-top">
    <div class="container-md navbar flex-nowrap with-search">
        <div class="navbar-brand mb-2">
            <a asp-controller="Home" asp-action="Index" class="h-100 text-center align-items-center d-flex align-items-center text-decoration-none">
                <img src="~/imgs/shopping-brand.svg" style="width: 40px" height="100%" class="text-center" alt="logo-brand">
                <h2 class="m-0 pt-2 text-white fw-normal">Aetherix</h2>
            </a>
        </div>
        <div class="right d-flex justify-content-center align-items-center gap-3">
            <div class="user">
                @if (User.Identity.IsAuthenticated)
                {
                    /*TODO add user avatar for mobile*/
                }
                else
                {
                    <i class="bi bi-person-circle fs-4 pb-2"></i>
                }
            </div>
            <div class="nav-item pt-2">
                <h3 >Admin Panel</h3>
            </div>
        </div>
    </div>
</header>
<div class="placeholder"></div>
<div class="main container-fluid p-0 d-flex">
    <div class="nav-menu d-flex flex-column justify-content-center align-items-center pt-3 pb-3 bg-white bg-opacity-25 text-center">
        <div class="nav-item d-flex align-items-center justify-content-center">
            <div class="d-flex justify-content-start align-items-center gap-1">
                <i class="bi bi-clipboard-data-fill"></i>
                <a class="text-decoration-none text-black d-flex gap-1" href="">Status</a>
            </div>
        </div>
        <div class="nav-item align-items-center justify-content-center d-flex gap-1">
            <div class="d-flex justify-content-start align-items-center gap-1">
                <i class="bi bi-box2-fill"></i>
                <a class="text-decoration-none text-black" asp-controller="Category" asp-action="Index">Category</a>
            </div>
        </div>
        <div class="nav-item align-items-center justify-content-center d-flex gap-1">
            <div class="d-flex justify-content-start align-items-center gap-1">
                <i class="bi bi-archive-fill"></i>
                <a class="text-decoration-none text-black" asp-controller="Product" asp-action="Index">Product</a>
            </div>
        </div>
        <div class="nav-item align-items-center justify-content-center d-flex gap-1">
            <div class="d-flex justify-content-start align-items-center gap-1">
                <i class="bi bi-tag-fill"></i>
                <a class="text-decoration-none text-black">Coupon</a>
            </div>
        </div>
        <div class="nav-item align-items-center justify-content-center d-flex gap-1">
            <div class="d-flex justify-content-start align-items-center gap-1">
                <i class="bi bi-people-fill"></i>
                <a class="text-decoration-none text-black" asp-controller="Home" asp-action="">User</a>
            </div>
        </div>
    </div>
    <div class="content p-md-5 w-100">
        @RenderBody()
    </div>
</div>
<footer class=" card-footer p-md-5">
    <div class="container-md">
        <hr>
        <div class="copyright d-flex justify-content-between fs-6 text-muted flex-wrap align-items-center text-center">
            <p>&copy; @DateTime.Today.Year Aetherix. Tất cả các quyền được bảo lưu</p>
            <p>Quốc gia & Khu vực: Việt Nam</p>
        </div>
        <hr>
        <div class="info-company d-flex flex-column flex-md-wrap justify-content-center align-items-center">
            <p>Công ty TNHH Aetherix</p>
            <br>
            <p>Địa chỉ: Tầng 1-2-3-4, Tòa nhà HUFLIT, số 828 đường Sư Vạn Hạnh, Phường 12, Quận 10, Thành phố Hồ Chí Minh, Việt Nam. Tổng đài hỗ trợ: 0123456789 - Email: cskh@hotro.aetherix.vn</p>
            <p>Chịu Trách Nhiệm Quản Lý Nội Dung: Hihihi - Điện thoại liên hệ: 0123456789</p>
            <p>© 2023 - Bản quyền thuộc về Công ty TNHH Aetherix</p>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>