@using System.Configuration.Internal
@using Humanizer
@using Org.BouncyCastle.Crypto.Engines
@model Cart

@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "_SecondaryLayout";
    var sellerGroupBy = Model.CartItems.GroupBy(c => c.TypeProduct!.Product!.SellerId);
    var totalPrice = Model.CartItems.Sum(c => c.Quantity * c.TypeProduct!.Product!.Price);
}

@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/actions/StyleCart.css" asp-append-version="true">
}

@section Scripts
{
    <script src="~/js/actions/JsCart.js" asp-append-version="true"></script>
    <script src="~/js/partials/product_list.js" asp-append-version="true"></script>
}

@section HeaderNav {
    <div class="bg-white">
        <div class="d-flex cart-header container-md">
            <div class="header">
                <div class="navbar-brand">
                    <a asp-controller="Home" asp-action="Index" class="h-100 text-center align-items-center d-flex align-items-center text-decoration-none">
                        <img class="logo" src="/imgs/shopping-brand.png" alt="logo-brand">
                        <h2 class="m-0 pt-2 fw-normal">Aetherix</h2>
                        <div class="divider"></div>
                        <div class="cart1">Giỏ hàng</div>
                    </a>
                </div>
            </div>
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Tìm sản phẩm">
                <button id="search-button" onclick="Erorr()">
                    <i class="fa-solid fa-magnifying-glass fa-beat" id="icon-search"></i>
                </button>
            </div>
        </div>
    </div>
}

<section class="header-top">
<div class="container1">
<div class="header1">
    <img src="/imgs/freeship.png" alt=""> Nhấn vào mục Mã giảm giá ở cuối trang để hưởng miễn phí vận chuyển bạn nhé!
</div>
<table>
    <thead>
    <tr>
        <th>
            <div id="selectAllProducts">
                <input type="checkbox" id="selectAllCheckbox"> Tất Cả Sản phẩm
            </div>
        </th>
        <th class="op-50">Đơn giá @Html.Partial("BagCart")</th>
        <th class="op-50">Số lượng</th>
        <th class="op-50">Số tiền</th>
        <th class="op-50">Thao tác</th>
    </tr>
    </thead>
    @if (Model.CartItems.Count != 0)
    {
        <tbody>
        @{
            await Html.RenderPartialAsync("Partials/CartItemPartial",sellerGroupBy.ToList());
        }
        </tbody>
    }
    else //Gio Hang rong
    {
        <tr>
            <td colspan="6" style="height: 290px;font-size: larger;font-style: oblique;">
                <div>Giỏ Hàng Của Bạn Đang Trống !</div>
                <a asp-controller="Home" asp-action="Index">
                    <button style="background-color: #EE4D2D ; border: none;padding: 7px; box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);">
                        <div style="color: white  ">Mua Hàng</div>
                    </button>
                </a>
            </td>
        </tr>
    }

</table>

<section class="footer">
    <div class="voucher">
        <button onclick="Erorr()">Chọn hoặc nhập mã</button>
        <div class="text-shopeevoucher">Shopee Voucher</div>
        <div class="logovoucher">
            <img src="/imgs/logovoucher.png">
        </div>
    </div>
    <div class="shopee-xu">
        <div id="sotien">
            <div>-₫0</div>
        </div>
        <div id="shopee-xu1">
            <div class="div-logodongtien">
                <img src="/imgs/logodongtien.png">
            </div>
            <div id="text-shopeexu">Shopee Xu</div>
            <div id="text-xu">Bạn chưa có Shopee Xu</div>
            <div class="div-logodauhoi">
                <i class="fa-regular fa-circle-question fa-bounce"></i>
            </div>
        </div>
    </div>
    <div class="footer-mua">
        <div class="div1">
            <div class="div1-1" id="selectAllProducts">
                <input type="checkbox" id="selectAllCheckbox1">
            </div>
            <button class="button1-1">Chọn tất cả (@Model.CartItems.Sum(item => 1))</button>
            <button class="button1-2" onclick="confirmClearCart()">Xóa Tất Cả</button>
            <button class="button1-3" onclick="Erorr()">Lưu vào mục Đã thích</button>
        </div>

        <div class="div2">
            <div class="div2-1">
                <div class="div2-1-1" id="selected-products">Tổng thanh toán(0 sản phẩm): </div>
                <div class="div2-1-2" id="total-price">
                    <i class="fa-solid fa-dong-sign fa-bounce"></i>
                    0.00
                </div>
            </div>
            <a asp-controller="Checkout" asp-action="Index">
                <button class="button-muahang" id="checkoutButton">
                    <div>Mua Hàng</div>
                </button>
            </a>
        </div>
    </div>
</section>
</div>
</section>

<script>
const loaimau = document.getElementById("loaimau");
loaimau.addEventListener('change',changeProductId)
function changeProductId(e) {
    const newTypeId = e.target.value;
    fetch(window.location.href+`?cartItemId={}`)
}

function Erorr(){
    confirm("Xin lỗi bạn! Tôi chưa thêm chức năng cho sự kiện này...");
}

function confirmClearCart() {
        // hộp thoại xác nhận
        var isConfirmed = confirm("Bạn có chắc chắn muốn Xóa Tất Cả sản phẩm trong giỏ hàng?");
        // Nếu người dùng đồng ý
        if (isConfirmed) {
            window.location.href = "@Url.Action("ClearCart", "Cart", new
                                    {
                                        cartId = @Model.Id
                                    })";
        }
    }
</script>