@using Microsoft.EntityFrameworkCore
@model Product
@inject ShoppingContext Shopping
@{
    var topProduct = Shopping.Products
        .Include(p => p.ImageUrls)
        .Where(p => p.CategoryId == Model.CategoryId)
        .OrderByDescending(p => p.Sold)
        .Take(6);


    var maybeLike = await Shopping.Products.Include(p => p.ImageUrls)
        .Take(50).ToPagedListAsync((int)ViewBag.Page, 18);
}

<div class="mt-3 d-flex">
    <div class="page-product-l flex-grow-1">
        <div class="p-4 bg-white">
            @{ await Html.RenderPartialAsync("./ProductInfo.cshtml"); }
        </div>

        <div class="product-rating my-3 p-4 bg-white">
            <div>
                <div class="product-rating__header mb-3">
                    <div class="fs-5 text-uppercase">Đánh giá sản phẩm</div>
                </div>
                <div>
                    @{ await Html.RenderPartialAsync("./ProductRating.cshtml"); }
                </div>
            </div>
        </div>


    </div>
    <div class="page-product-r d-none d-lg-block">
        <div class="p-3 bg-white">
            <div class="product-hot-sales">
                <div class="product-hot-sales__header opacity-75">
                    Top sản phẩm bán chạy
                </div>
            </div>
            @foreach (var product in topProduct)
            {
                <div class="product-hot-sale__list">
                    <div class="product-hot-sale__item">
                        <a class="text-decoration-none text-black" href="">
                            <img src="@product.ImageUrls.FirstOrDefault(i => i.Thumbnail == true)!.ImagePath" alt="@product.ProductName">
                            <div class="px-3">
                                <div class="product-hot-sale__name">@product.ProductName</div>
                                <div class="product-hot-sale__price text-primary-custom fs-5 mt-2">đ@($"{product.Price:###,###}")</div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div>
    <div class="maybe-like">
        <div class="maybe-like__header mb-2">
            <div class="text-uppercase opacity-75 fs-6">Có thể bạn cũng thích</div>
        </div>
        @{ await Html.RenderPartialAsync("Partial/ProductList", maybeLike); }
    </div>
</div>