@using ShoppingWEB.Extension_Method
@model Product
@inject ApplicationDbContext Db;
@{
    // var imageList = Db.ImageUrl.Where(_ => true);
}

<section class="product-briefing d-flex">
    <div class="left-side p-2">
        <img class="w-100" id="product-img-preview" src="~/uploads/2dde6bcf-a150-407d-8d63-9d08c3f5c5eb_sach.png" alt="">
    </div>
    <div class="right-side">

    </div>
</section>