@using Microsoft.EntityFrameworkCore
@using NuGet.Packaging
@model Product
@inject ShoppingContext Context
@{
    ViewBag.Title = Model.ProductName!;
    Layout = "_Layout";
    var getProductLetter = Model.ProductName!.Split();
    var listProduct = await Context.Products
        .Include(p => p.ImageUrls)
        .Where(p => p.CategoryId == Model.CategoryId)
        .ToListAsync();
    var suggestProduct = new HashSet<Product>();
    foreach (var s in getProductLetter)
        suggestProduct.AddRange(listProduct.Where(l => l.ProductName!.Contains(s)).ToList());

}


@section Styles
{
    <link rel="stylesheet" href="~/css/actions/DetailIndex.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/partials/ProductListStyle.css" asp-append-version="true"/>
}

@section Scripts
{
    <script src="~/js/partials/product_briefing.js"></script>
    <script src="~/js/partials/product_rating.js"></script>
}


<div class="container-md">
    @{
        await Html.RenderPartialAsync("Partials/ProductBriefing", Model);
        await Html.RenderPartialAsync("Partials/SellerInfo", Model.Seller);
        await Html.RenderPartialAsync("Partials/PageProduct", Model);
    }
</div>