@model Product

@{
    // ViewBag.Title = Model.ProductName!;
    Layout = "_Layout";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/actions/DetailIndex.css" asp-append-version="true"/>
}

@section Scripts
{
    <script src="js/partials/product_briefing.js"></script>
}


<div class="container-md">
    @{
        await Html.RenderPartialAsync("Partials/ProductBriefing");
        await Html.RenderPartialAsync("Partials/SellerInfo");
    }
</div>