@model Product

@{
    // ViewBag.Title = Model.ProductName!;
    Layout = "_Layout";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/actions/DetailIndex.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/partials/ProductListStyle.css" asp-append-version="true"/>
}

@section Scripts
{
    <script src="~/js/partials/product_briefing.js"></script>
    <script src="~/js/partials/product_rating.js"></script>
}


<div class="container-md">
    @{
        await Html.RenderPartialAsync("Partials/ProductBriefing", Model);
        await Html.RenderPartialAsync("Partials/SellerInfo", Model);
        // await Html.RenderPartialAsync("Partials/PageProduct");
    }
</div>