@model Product

@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
    ViewBag.Page = "Product";
    Layout = "_AdminLayout";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/actions/DetailIndex.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/partials/ProductListStyle.css" asp-append-version="true"/>
}

<style>
    body {
    overflow: auto;
    }
</style>

<div class="container-md">
    @{
        await Html.RenderPartialAsync("Partials/ProductBriefing", Model);
        await Html.RenderPartialAsync("Partials/SellerInfo", Model.Seller);
        await Html.RenderPartialAsync("Partials/PageProduct", Model);
    }
</div>