@model System.Collections.Generic.List<ShoppingWEB.Models.Product>

@{
    ViewBag.Title = "Danh Sách Sản Phẩm";
    ViewBag.Page = "Product";
    Layout = "_AdminLayout";
}
<div class="bg-white product-container">
    <div class="d-flex overflow-hidden h-100">
        <div class="product-item d-flex flex-column flex-grow-1">
            <div class="product-item__header d-flex p-3 w-100  flex-grow-1 justify-content-between px-5">
                <div class="d-flex align-items-center">Danh Mục Sản Phẩm</div>
                <div class="d-flex align-items-center">
                    <form asp-action="Index" method="get">
                        <input type="hidden" value="@ViewBag.CategoryId" name="categoryId"/>
                        <div class="d-flex gap-3">
                            <div >
                                <input name="s" class="form-control" placeholder="Tìm kiếm sản phẩm..." type="search">
                            </div>
                            <div >
                                <button type="submit" class="btn btn-success">Tìm Kiếm</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="d-flex align-items-center gap-2">
                    @if (!string.IsNullOrEmpty(ViewBag.CategoryId))
                    {
                        <a class="btn btn-primary" asp-action="Index" asp-route-categoryId="" asp-route-s="">Tất Cả Sản Phẩm</a>
                    }
                    <a class="btn btn-success" asp-action="Create">Thêm</a>
                </div>
            </div>
            @{
                await Html.RenderPartialAsync("Partials/ProductList", Model);
            }
        </div>
    </div>
</div>