@model System.Collections.Generic.List<ShoppingWEB.Models.Product>

@{
    ViewBag.Title = "Danh Sách Sản Phẩm";
    ViewBag.Page = "Product";
    Layout = "_AdminLayout";
}

<div class="bg-white product-container">
    <div class="d-flex overflow-hidden h-100">
        <div class="product-item d-flex flex-column flex-grow-1">
            <div class="product-item__header d-flex p-3 w-100  flex-grow-1 justify-content-between px-5">
                <div class="d-flex align-items-center">Danh Mục Sản Phẩm</div>
                <div class="d-flex align-items-center">
                    <a class="btn btn-success" asp-action="Create">Thêm</a>
                </div>
            </div>
            <div class="product-item__content">
                <div class="table-container">
                    <table>
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Công Khai</th>
                            <th>Tùy Chỉnh</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            if (Model.Count != 0)
                            {
                                for (var i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td>@Model[i].ProductName</td>
                                        @if (Model[i].Publish == 0)
                                        {
                                            <td>Không công khai</td>
                                        }
                                        else
                                        {
                                            <td>Công khai</td>
                                        }
                                        <td>
                                            <a asp-action="Edit" class="btn btn-danger text-decoration-none">
                                                <i class="bi bi-pencil-fill"></i>
                                            </a>
                                            <a asp-action="Detail" class="btn btn-danger text-decoration-none">
                                                <i class="bi bi-eye-fill"></i>
                                            </a>
                                            <a class="btn btn-danger text-decoration-none delete">
                                                <i class="bi bi-trash3-fill"></i>
                                            </a>
                                        </td>
                                        <td >
                                            <div class="delete-confirm-pop p-0 position-absolute d-none">
                                                <form asp-action="Delete" asp-route-id="@Model[i].Id">
                                                    <div class="form-header">
                                                        Xóa
                                                    </div>
                                                    <div class="form-content">
                                                        Bạn có xác nhận muốn xóa không?
                                                    </div>
                                                    <div class="form-action">
                                                        <div class="btn btn-primary cancel">Không</div>
                                                        <div>
                                                            <button type="submit" class="btn btn-danger">Xóa</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }

                        }
                        </tbody>
                    </table>
                    @if (Model.Count == 0)
                    {
                        <div class="no-product-notify d-flex justify-content-center h-75 align-items-center">
                            Không Có Sản Phẩm Nào
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>