
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 14px;
    color: black;
}

body {
    background-color: #f5f5f5 !important;
}

a {
    text-decoration: none;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

}

input {
    border: none;
    outline: none;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

header .navbar {
    height: 70px;
}

header .navbar.nav-social {
    font-size: .9rem;
    height: 10%;
    z-index: 1000;
    background-color: #ce6c09;
}

.navbar .btn-search {
    background-color: #ce6c09;
    width: 65px;
    height: calc(100% - 4px);
    margin: 2px;
}

.navbar .nav-item a:hover {
    cursor: pointer;
}

.navbar div {
    color: white;
}


.navbar .social a:hover {
    cursor: pointer;
}

.navbar .nav-left .nav-item:not(:first-child) {
    margin-left: .5rem;
    position: relative;
}

.navbar .nav-left .nav-item:not(:last-child) {
    margin-right: .5rem;
}

.navbar .nav-left .nav-item:not(:first-child)::after {
    content: "|";
    position: absolute;
    opacity: .5;
    left: calc(-.5rem - 1px);
}

.navbar .nav-right .reg-log .avatar {
    height: 20px;
}

.navbar .nav-right .nav-item:not(:first-child) {
    margin-left: .5rem;
}

.navbar .nav-right .reg-log div:not(:first-child) {
    margin-left: .5rem;
    position: relative;
}

.navbar .nav-right .reg-log.not-logged div:not(:first-child)::after {
    content: "|";
    position: absolute;
    left: calc(-.5rem - 3px);
    opacity: .5;
}

.navbar .nav-right .reg-log div:not(:last-child) {
    margin-right: .5rem;
}

.navbar .nav-right .reg-log div a {
    text-decoration: none;
    color: white;
}

.notify-render::after {
    content: "";
    height: 15px;
    width: 15px;
    rotate: 45deg;
    right: 10%;
    top: -7.5px;
    position: absolute;
    background: white;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: 99;
}

.notify-render {
    width: 500%;
    left: -400%;
    opacity: 1;
    top: 130%;
    height: 350px;
    border: 1px solid #a29e9e;
    transition: all .2s;
}

.newrender {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
    left: 50% !important;
}


.notify-render .notify-action a {
    height: 35px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #d5dade;
}

.notify-render .notify {
    height: calc(100% - 35px);

}

.notify-render .notify .bg-notify {
    height: calc(100% - 50px);
    background-image: url("/imgs/Chuong_BG.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.notify-render .notify p {
    font-size: .9rem;
}

.op-hide {
    opacity: 0 !important;
    height: 0 !important;
}

.op-hide button {
    display: none !important;
}


.logged .option {
    right: 0;
    width: 100px;
    opacity: 1;
    height: auto;
    top: 110%;
    transition: all .2s !important;
}

.logged button {
    display: flex;
    transition: all .2s !important;
    outline: none !important;
    border: none !important;
}

.logged button:active {
    outline: none !important;
    border: none !important;
}

.logged button:focus {

    outline-color: transparent; /* Đặt màu sắc là trong suốt */
    outline-width: 2px; /* Đặt độ dày */

}

.logged .option ul {
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.logged .option li {
    list-style: none;
    font-size: .9rem;
}


.navbar .nav-item:hover {
    cursor: pointer;
}

.navbar .nav-item a:hover {
    opacity: .8;
}

.navbar .nav-right .nav-item:not(:last-child):not(:first-child):hover {
    opacity: .8;
}


.placeholder {
    height: 108px;
}

.info-company {
    font-size: .8rem
}

.user.user-mobile {
    display: none !important;
}


@media screen and (max-width: 768px) {
    header .navbar {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 426px) {
    html {
        font-size: 16px;
    }

    .avatar {
        height: 26px;
    }

    .user.user-mobile {
        display: flex !important;
    }

    header .navbar.nav-social {
        display: none;
    }

    .search-category form {
        display: none;
    }

    .navbar .notify-mobile {
        display: block !important;
    }

    .notify-render {
        width: 100vw;
        right: 0;
        height: calc(100vh - 200px);
        top: calc(70px);
        left: 0;
    }

    .notify-render::after {
        right: 100px;
    }
}

.bg-custom-primary {
    background-color: #F5F5F5 !important;
}

.bg-custom-secondary {
    background-color: #ce6c09 !important;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    align-items: center!important;
    justify-content: center!important;
    font-size: 1.4rem;
    gap:2rem;
   
}
.pagination a{
    text-decoration: none;
    padding: 0  14px;
    color: rgba(0, 0, 0, 0.4)!important;
}
.MenuPage{
    display: flex;
    justify-content: center;
    
}

.active{
    width: 100%;
    height: 100%;
    background-color: #c1712a;
    padding: 4px 16px;
    color: white;
}




