@charset "UTF-8";
html {
  font-size: 14px;
}

header .nav-social {
  font-size: 1rem !important;
}

.product-briefing > .left-side {
  width: 450px;
}
.product-briefing > .left-side .sub-image {
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 -7px;
}
.product-briefing > .left-side .sub-image > div {
  flex-shrink: 0;
  flex-grow: 0;
  width: 25%;
}
.product-briefing > .left-side .sub-image-item {
  display: flex;
}
.product-briefing > .left-side .sub-image-item.viewing {
  border: 1px solid #C1712A;
  box-shadow: 0 0 1px #C1712A;
}
.product-briefing > .left-side .sub-image-item img {
  max-width: 100%;
}

.viewing {
  border: 1px solid #C1712A !important;
  color: #D27354;
  box-shadow: 0 0 1px #C1712A !important;
  background-color: #ffede0 !important;
}

.product-analysis-info > div:not(:first-child) {
  padding: 0 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.product-analysis-info > div:first-child {
  padding-right: 9px;
}
.product-analysis-info a {
  color: yellowgreen;
}

.product-briefing .right-side hr {
  height: 1px;
  border: none;
  margin: 2rem 0;
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.product-briefing .right-side .product-info .product-price {
  background-color: #FAFAFA;
}
.product-briefing .right-side .product-info .product-price .price {
  font-size: 2rem;
  color: #C1712A;
}
.product-briefing .right-side .buy-info .display {
  width: 100px;
  flex-shrink: 0;
}
.product-briefing .right-side .action button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 20px;
  padding: 10px 20px;
  box-sizing: border-box !important;
}
.product-briefing .right-side .action button:first-child {
  background-color: #FDEFEB;
}
.product-briefing .right-side .action button:first-child:hover {
  background-color: #f3eeed;
  color: #CB444A;
}
.product-briefing .right-side .quantity-action {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 35px;
}
.product-briefing .right-side .quantity-action .action {
  width: 35px;
}
.product-briefing .right-side .quantity-action .action:hover {
  cursor: pointer;
}
.product-briefing .right-side .quantity-action input {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 50px;
}
.product-briefing .right-side .footer {
  align-items: center;
}
.product-briefing .right-side .footer div {
  display: flex;
  align-items: center;
}
.product-briefing .right-side .footer div img {
  height: 30px;
}
.product-briefing .classify {
  align-items: start;
}
.product-briefing .classify .display {
  min-height: 2.5rem;
}
.product-briefing .classify .data .classify-list {
  margin-top: -0.6rem;
}
.product-briefing .classify .data button.classify-item {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: white;
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  margin-right: 0.6rem;
  border-radius: 2px;
  padding: 0 1rem;
  min-width: 4rem;
  min-height: 2rem;
  line-height: 1px;
}
.product-briefing .classify .data button.classify-item img {
  width: 35px;
}

.shipping .data {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}
.shipping .data div {
  padding-right: 5px;
  padding-bottom: 5px;
}
.shipping .data div i {
  font-size: 1.5rem;
}
.shipping .data div.shipping-address {
  padding-right: 2rem;
}
.shipping img {
  height: 25px;
}

.size .size-list {
  margin-top: -0.5rem;
}
.size button {
  min-width: 40px;
  min-height: 2rem;
  border-radius: 2px;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.seller-info .shop-avt {
  margin-right: 1rem;
  width: 100px;
  height: 100%;
}
.seller-info .shop-avt img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  height: 100%;
  border-radius: 100%;
  flex-shrink: 0;
}
.seller-info .online-status {
  font-size: 0.9rem;
}
.seller-info .seller-introduce {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 2rem;
}
.seller-info .seller-action > div {
  margin-right: 1rem;
}

.seller-analysis {
  padding-left: 2rem;
  flex-grow: 1;
  width: auto;
  gap: 3rem;
}
.seller-analysis > div {
  flex-grow: 1;
}

.border-custom {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.text-primary-custom {
  color: #D27354 !important;
}

.page-product-l .title {
  font-size: 1.4rem;
  background-color: #FAFAFA;
}
.page-product-l .product-detail .data {
  margin-top: 2rem;
}
.page-product-l .product-detail .data > div {
  margin-bottom: 1rem;
}
.page-product-l .product-detail .data .data-display {
  overflow: hidden;
  text-wrap: nowrap;
  opacity: 0.7;
  text-overflow: ellipsis;
  width: 140px;
}
.page-product-l .product-detail .data .data-content {
  margin-left: 1rem;
}

.page-product-r {
  margin-left: 2rem;
}
.page-product-r .product-hot-sale__list {
  width: 180px;
}
.page-product-r .product-hot-sale__list .product-hot-sale__item {
  margin-top: 1rem;
}
.page-product-r .product-hot-sale__list .product-hot-sale__item .product-hot-sale__name {
  display: -webkit-box; /* Sử dụng cú pháp cũ để hỗ trợ trình duyệt Safari */
  -webkit-line-clamp: 2; /* Giới hạn số dòng hiển thị là 2 */
  -webkit-box-orient: vertical;
  overflow: hidden; /* Ẩn phần văn bản bị tràn ra ngoài */
}
.page-product-r .product-hot-sale__list img {
  width: 100%;
}

.product-rating-overview__briefing {
  margin-right: 2rem;
}

.product-rating-overview {
  background-color: #FEFBF8;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.rating-stars__star-wrapper {
  display: flex;
  margin-left: 1px;
  font-size: 1.275rem;
}

.rating-stars__lit {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
}
.rating-stars__lit .rating-stars__primary-star {
  position: absolute;
  stroke: #DC593A;
  left: 0;
  fill: #DC593A;
}

.svg-icon {
  height: 100%;
  width: 1.2rem;
}

.rating-stars__hollow-star {
  fill: none;
  stroke: #DC593A;
}

.border-light-custom {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.product-rating-filter__item {
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.product-rating-filter__item:hover {
  cursor: pointer;
}

.product-rating-comment__avatar {
  width: 40px;
  margin-right: 1rem;
}

.product-rating-comment__main .svg-icon {
  width: 12px;
}
.product-rating-comment__main .posted-info {
  font-size: 0.9rem;
}

.product-rating__comment {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.product-rating__comment .posted-content__sub-image {
  max-width: 800px;
  height: 88px;
}

.posted-content__preview-img {
  height: 400px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.posted-content__preview-img .action-preview-img {
  width: 30px;
  height: 30px;
}
.posted-content__preview-img .action-preview-img:hover {
  cursor: pointer;
}
.posted-content__preview-img .next-img {
  right: -15px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.posted-content__preview-img .previous-img {
  left: -15px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.hover-pointer:hover {
  cursor: pointer;
}

.nav-pages {
  font-size: 1.4rem;
}
.nav-pages .pages-list {
  color: rgba(0, 0, 0, 0.4);
}
.nav-pages .pages-list .pages-list__item {
  padding: 0 1rem;
}
.nav-pages .pages-list .pages-list__item > div {
  width: 50px;
  height: 40px;
}
.nav-pages .pages-list .pages-list__item > div:hover {
  cursor: pointer;
}
.nav-pages .pages-list .list_number {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.nav-pages .pages-list .list_number.current-page {
  color: white;
  background-color: #C1712A;
}

/*# sourceMappingURL=DetailIndex.css.map */
