<div class="container">
    <div class="header">
        <div class="navbar-brand">
            <a asp-controller="Home" asp-action="Index" class="h-100 text-center align-items-center d-flex align-items-center text-decoration-none">
                <img class="logo" src="./img/shopping-brand.png" alt="logo-brand">
                <h2 class="m-0 pt-2 text-white fw-normal">Aetherix</h2>
                <div class="divider"></div>
                <div class="cart1">Giỏ hàng</div>
            </a>
        </div>
    </div>
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="Tìm sản phẩm">
        <button id="search-button"><i class="fa-solid fa-magnifying-glass fa-beat" id="icon-search"></i></button>
    </div>
</div>